<h1><%=_('Mailbox')%></h1>
<div id="header">
  <ul id="primary">
    <li><span><%= _('Folders') %></span>
      <ul id="secondary">
          <li><%=link_back_to_messages%></li>
      </ul>
    </li>
    <li><%=link_send_mail%></li>
    <li><%=link_mail_prefs%></li>
    <li><%=link_mail_filters%></li>
    <li><%=link_main%></li>
  </ul>
</div>
<div id="tab_main">
<div id="tab_content">

<% content_for('sidebar') { %>  
<div id="folders">
  <h4><%=_('Add folder')%></h4>
  <hr/>
  <% form_tag folders_path, :id => 'new_folder' do %>
    <ul>
      <li><label for='folder'><%=_('Name')%>:</label></li>
      <li><%= text_field_tag 'folder', '', :size => 18 %></li>
      <li><%= submit_tag _('Add folder') %></li>
    </ul>
  <% end %>
</div>    
<% } %>

<div id="messages">
  <div id='msg-fl-list'>
  <table>
    <thead><tr><th><%=_('Folder')%></th><th><%= _('Total messages') %></th><th><%= _('Unseen') %></th></tr></thead>
    <tbody>
  <% for folder in @folders %>
    <tr>
      <td><%=folder_manage_link(folder)%></td>
      <td><%= folder.total %></td>
      <td><%= folder.unseen > 0 ? "<b>#{folder.unseen}</b>" : "#{folder.unseen}" %></td></tr>
  <% end %>
    </tbody>
  </table>
  </div>
</div>
</div>
</div>  
